.app{
  width: 50%;
}

.accordion{
  background: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 5px;
  text-align: left;
  font-size: 15px;
  transition: all .30s linear;
}

.content{
  color: rgb(163, 163, 163);
}

.arrow{
  float: right;
  color: black;
}